<!DOCTYPE html>
<html>
<head> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Custom title</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
</head>
<body>
  <div id = "app">
    <v-app>
      <nav>
        <v-app-bar color="light-blue darken-4" dark dense app>
          <v-app-bar-nav-icon class="d-md-none" @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
          <v-toolbar-title>{{ logo }}</v-toolbar-title>
          <v-spacer> </v-spacer>
            <div class="hidden-sm-and-down">
              <v-btn text v-for="item in menu" 
                :href="item.href">
                {{item.title}}
              </v-btn>
            </div>
            <v-spacer> </v-spacer>
            <v-btn icon class="d-lg-none" @click.stop="rightpanel = !rightpanel">
              <v-icon>mdi-text</v-icon>
          </v-btn>
          <v-menu offset-y>
              <template v-slot:activator="{ on }">
                <v-btn icon class="d-md-none"
                v-on="on" >
                  <v-icon>mdi-dots-vertical</v-icon>
                </v-btn>
              </template>
              <v-list>
                <v-list-item  v-for="item in menu" 
                  :href="item.href">
                  <v-list-item-title>{{item.title}}</v-list-item-title>
                </v-list-item>
              </v-list>
          </v-menu>
        </v-app-bar>
        <v-navigation-drawer class = "d-md-none" v-model="drawer"
        absolute temporary style="position:fixed; overflow-y:auto;"
        >
        <v-container>
            <left-nav/>
          </v-container>
        </v-navigation-drawer>
        <v-navigation-drawer class = "d-lg-none" right v-model="rightpanel"
        absolute temporary style="position:fixed; overflow-y:auto;"
        >
         <v-container>
          <right-nav/>
        </v-container>
        </v-navigation-drawer>
      </nav>

<h1 id="index-page">Index page</h1>
<p>Some index text</p>

<h3>Path 1</h3>
<v-btn
v-scroll="onScroll"
v-show="fab"
fab dark fixed bottom right color="primary"
@click="toTop"
>
<v-icon>mdi-chevron-up</v-icon>
</v-btn>    
</v-app>
</div>
<script>
var rightList = [];

function walkHeaders(root) {
    if( root != null && root.nodeType === 1 && root.nodeName !== 'script' ) {
        var name = root.nodeName.toLowerCase();
        if( name == 'h2' || name == 'h3' ) {
            console.log(root);
            root.setAttribute("style", "padding-top: 4rem; margin-top: -4rem;");
            rightList.push( {
                title: root.innerHTML,
                href: '#' + root.id,
            });
        } else {
            for( var i = 0; i < root.childNodes.length; i++ ) {
                walkHeaders( root.childNodes[i] );
            }
        }
    }
}

function getRightList() {
   walkHeaders( document.getElementById('article') );
};

const menu = [
    {
        title: "Path1",
        href: "/path1",
        },{
        title: "GitHub",
        href: "https://github.com/gentee/genteeweb",
        },
];

function pageData() { 
    getRightList();
    return {
        fab: false, 
        drawer: null,
        rightpanel: null,
        logo: "My company",
        menu: menu,
        rightList: rightList,

        }
}
</script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.js"></script>
<script>
const leftNav = `<div><span><b>OOOPS 2</b></span>
    OOOPSS 2<br>
    OOOPSS OOOPS 11<br>   
    OOOPSS START AGAIN<br>
    OOOPSS AGAIN<br>
    OOOPSS AGAIN 55<br>
OOOPSS MORE<br>
OOOPSS 7<br>
OOOPSS OOOPS<br>
OOOPSS 8<br>
OOOPSS 9<br>
OOOPSS 10<br>
OOOPSS<br>
OOOPSS<br>
OOOPSS OOOPS<br>
</div>`;

const rightNav = `<div style="position:sticky"><v-icon>mdi-text</v-icon> On this page
    <v-list-item-group
        color="indigo"
    >
       <v-list-item dense
          v-for="item in rightList"
          :href = "item.href"
          @click="rightpanel = false"
       >
          {{item.title}}
        </v-list-item>
    </v-list-item-group>
</div>`;

Vue.component('left-nav', { 
    template: leftNav,
})

Vue.component('right-nav', { 
/*    data: () => ({
        group: null,
    }),*/
    template: rightNav,
})

new Vue({
    vuetify: new Vuetify(),
    el: '#app',
    data: pageData(),
/*    watch: {
      group () {
        console.log('click');
        rightpanel = false;
      },
    },*/
    methods: {
    onScroll (e) {
        if (typeof window === 'undefined') return
        const top = window.pageYOffset ||   e.target.scrollTop || 0
        this.fab = top > 20
        },
    toTop () {
        this.$vuetify.goTo(0)
        }
    }
})


</script>
</body>
</html>