<v-btn
v-scroll="onScroll"
v-show="fab"
fab dark fixed bottom right color="primary"
@click="toTop"
>
<v-icon>mdi-chevron-up</v-icon>
</v-btn>    
<v-footer app absolute class="py-3 d-flex flex-column justify-center blue-grey">
    <v-text class="white--text">[[.Params.copyright]]</v-text> 
</v-footer>
</v-app>
</div>
<script type="text/x-template" id="leftnav">
<v-list dense>
    [[ range $item := .Nav ]]
        [[if .Children ]]
        <v-list-group >
            <template v-slot:activator>
              <v-list-item-title>[[ $item.Title ]]</v-list-item-title>
            </template>
            [[ range $group := .Children ]]
                [[if $group.Children ]]
                <v-list-group  no-action sub-group >
                    <template v-slot:activator>
                      <v-list-item-content>
                        <v-list-item-title>[[ $group.Title]]</v-list-item-title>
                      </v-list-item-content>
                    </template>
                    [[ range $subgroup := $group.Children ]]
                <v-list-item href="[[ $subgroup.Href ]]">
                  <v-list-item-title>[[$subgroup.Title]]</v-list-item-title>
                </v-list-item>
                    [[end]]
              </v-list-group>
              [[else]]
                <v-list-item class="pl-8" href="[[ $group.Href ]]"><v-list-item-title>[[ $group.Title ]]</v-list-item-title></v-list-item>
              [[end]]
           [[end]]
        </v-list-group>
        [[else]]
            <v-list-item [[if eq $item.Href $.Url]]class="blue lighten-4"[[else]]href="[[ $item.Href ]]"[[end]]>
                <v-list-item-title>[[ $item.Title ]]</v-list-item-title></v-list-item>
        [[end]]
    [[ end ]]
</v-list>
</script>
<script type="text/x-template" id="rightnav">
<div style="position:sticky">
[[if .GitHub]]    
<a href="[[.GitHub]]/blob/master[[.Original]]" class="black--text mb-5" target="_blank" style="display: block;text-decoration: none;"><v-icon class="mr-2">mdi-github-circle</v-icon>Edit on GitHub</a>
[[end]]
    <div class="label"><v-icon class="mr-2">mdi-text</v-icon>On this page</div>
    <div id="rightlist">
    <a v-for="item in rightList" :href = "item.href" :class="{tactive: item.active, 
            'grey--text darken-4--text': !item.active, 'pl-8': item.sub}"
            class="thispage">
            {{item.title}}
    </a>
    </div>
</div>
</script>
<script>
var rightList = [];

function walkHeaders(root) {
    if( root != null && root.nodeType === 1 && root.nodeName !== 'script' ) {
        var name = root.nodeName.toLowerCase();
        if( name == 'h2' || name == 'h3' ) {
            root.setAttribute("style", "padding-top: 4rem; margin-top: -4rem;");
            rightList.push( {
                title: root.innerHTML,
                href: '#' + root.id,
                active: rightList.length == 0,
                sub: name == 'h3',
            });
        } else {
            for( var i = 0; i < root.childNodes.length; i++ ) {
                walkHeaders( root.childNodes[i] );
            }
        }
    }
}

function getRightList() {
   walkHeaders( document.getElementById('article') );
};

const menu = [
    [[ range .Menu ]]{
        title: [[ .Title ]],
        href: [[ .Href ]],
        },[[ end ]]
];

function pageData() { 
    getRightList();
    return {
        fab: false, 
        drawer: null,
        rightpanel: null,
        logo: [[if .Logo]][[ .Logo.Name ]][[end]],
        menu: menu,
        rightList: rightList,
        curh: false,
//        group: null,
        }
}
</script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.js"></script>

<script>
Vue.component('left-nav', { 
    template: '#leftnav',
})

Vue.component('right-nav', { 
    template: '#rightnav',
})

new Vue({
    vuetify: new Vuetify(),
    el: '#app',
    data: pageData(),
    methods: {
    onScroll (e) {
        if (typeof window === 'undefined') return
        const top = window.pageYOffset ||   e.target.scrollTop || 0
        this.fab = top > 20

        var rl = document.getElementById('rightlist');
        var iactive = -1;
        for( var i = 0; i < rl.childNodes.length; i++ ) {
            var currLink = rl.childNodes[i];
            var refElement = document.getElementById(rightList[i].href.substr(1));
            if (refElement.offsetTop <= top || refElement.offsetTop - 50 <= top){
                iactive = i;
            }
            rightList[i].active = false;
        }
        if (iactive >=0) {
            rightList[iactive].active = true;
            this.curh = iactive;
        } else {
            this.curh = false;
        }
     },
    toTop () {
        this.$vuetify.goTo(0)
        }
    }
})


</script>
</body>
</html>