<v-btn
v-scroll="onScroll"
v-show="fab"
fab dark fixed bottom right color="primary"
@click="toTop"
>
<v-icon>mdi-chevron-up</v-icon>
</v-btn>    
</v-app>
</div>
<script>
var rightList = [];

function walkHeaders(root) {
    if( root != null && root.nodeType === 1 && root.nodeName !== 'script' ) {
        var name = root.nodeName.toLowerCase();
        if( name == 'h2' || name == 'h3' ) {
            root.setAttribute("style", "padding-top: 4rem; margin-top: -4rem;");
            rightList.push( {
                title: root.innerHTML,
                href: '#' + root.id,
                active: rightList.length == 0,
                sub: name == 'h3',
            });
        } else {
            for( var i = 0; i < root.childNodes.length; i++ ) {
                walkHeaders( root.childNodes[i] );
            }
        }
    }
}

function getRightList() {
   walkHeaders( document.getElementById('article') );
};

const menu = [
    [[ range .Menu ]]{
        title: [[ .Title ]],
        href: [[ .Href ]],
        },[[ end ]]
];

function pageData() { 
    getRightList();
    return {
        fab: false, 
        drawer: null,
        rightpanel: null,
        logo: [[if .Logo]][[ .Logo.Name ]][[end]],
        menu: menu,
        rightList: rightList,
        curh: false,
//        group: null,
        }
}
</script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.js"></script>
<script>
const leftNav = `<div><span><b>OOOPS 2</b></span>
    OOOPSS 2<br>
    OOOPSS OOOPS 11<br>   
    OOOPSS START AGAIN<br>
    OOOPSS AGAIN<br>
    OOOPSS AGAIN 55<br>
OOOPSS MORE<br>
OOOPSS 7<br>
OOOPSS OOOPS<br>
OOOPSS 8<br>
OOOPSS 9<br>
OOOPSS 10<br>
OOOPSS<br>
OOOPSS<br>
OOOPSS OOOPS<br>
</div>`;

const rightNav = `<div style="position:sticky">
    <a href="/" class="black--text mb-5" target="_blank" style="display: block;text-decoration: none;"><v-icon class="mr-2">mdi-github-circle</v-icon>Edit on GitHub</a>
    <div class="label"><v-icon class="mr-2">mdi-text</v-icon>On this page</div>
    <div id="rightlist">
    <a v-for="item in rightList" :href = "item.href" :class="{tactive: item.active, 
         'grey--text darken-4--text': !item.active, 'pl-8': item.sub}"
            class="thispage">
          {{item.title}}
    </a>
    </div>
</div>`;

Vue.component('left-nav', { 
    template: leftNav,
})

Vue.component('right-nav', { 
    template: rightNav,
})

new Vue({
    vuetify: new Vuetify(),
    el: '#app',
    data: pageData(),
    methods: {
    onScroll (e) {
        if (typeof window === 'undefined') return
        const top = window.pageYOffset ||   e.target.scrollTop || 0
        this.fab = top > 20

        var rl = document.getElementById('rightlist');
        var iactive = -1;
        for( var i = 0; i < rl.childNodes.length; i++ ) {
            var currLink = rl.childNodes[i];
            var refElement = document.getElementById(rightList[i].href.substr(1));
            if (refElement.offsetTop <= top || refElement.offsetTop - 50 <= top){
                iactive = i;
            }
            rightList[i].active = false;
        }
        if (iactive >=0) {
            rightList[iactive].active = true;
            this.curh = iactive;
        } else {
            this.curh = false;
        }
     },
    toTop () {
        this.$vuetify.goTo(0)
        }
    }
})


</script>
</body>
</html>