[[template "header.html" .]]
<!--
            <v-app-bar
        color="deep-purple accent-4"
        dark
        dense
        clipped-left
        clipped-right  
        app
      >
        <v-app-bar-nav-icon></v-app-bar-nav-icon>
  
        <v-toolbar-title>Page title</v-toolbar-title>
  
        <v-spacer></v-spacer>
  
        <v-btn icon>
          <v-icon>mdi-heart</v-icon>
        </v-btn>
  
        <v-btn icon>
          <v-icon>mdi-magnify</v-icon>
        </v-btn>
   
        <v-menu
          left
          bottom
        >
          <template v-slot:activator="{ on }">
            <v-btn icon v-on="on">
              <v-icon>mdi-dots-vertical</v-icon>
            </v-btn>
          </template>
  
          <v-list>
            <v-list-item
              v-for="n in 5"
              :key="n"
              @click="() => {}"
            >
              <v-list-item-title>Option {{ n }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-app-bar>

-->
<!--div class="columns">
    <div class="column is-hidden-touch is-pinned"  style="max-width: 256px;">
<aside class="menu">
        <p class="menu-label">
          General
        </p>
        <ul class="menu-list">
          <li><a>Dashboard</a></li>
          <li><a>Customers</a></li>
        </ul>
        <p class="menu-label">
          Administration
        </p>
        <ul class="menu-list">
          <li><a>Team Settings</a></li>
          <li>
            <a class="is-active">Manage Your Team</a>
            <ul>
              <li><a>Members</a></li>
              <li><a>Plugins</a></li>
              <li><a>Add a member</a></li>
            </ul>
          </li>
          <li><a>Invitations</a></li>
          <li><a>Cloud Storage Environment Settings</a></li>
          <li><a>Authentication</a></li>
        </ul>
        <p class="menu-label">
          Transactions
        </p>
        <ul class="menu-list">
          <li><a>Payments</a></li>
          <li><a>Transfers</a></li>
          <li><a>Balance</a></li>
        </ul>
      </aside>
    </div>
    <div class="column">
            <div class="container" style="max-width:1024px;">      
[[ .Content ]]
[[ .Content ]]
[[ .Content ]]
            </div>
    </div>
    <div class="column is-hidden-touch is-hidden-desktop-only is-pinned" style="max-width: 256px;">
        rdrdrd
    </div>
</div--> 

<!--v-navigation-drawer
                          :clipped="drawer.clipped"
                          :fixed="drawer.fixed"
                          :permanent="drawer.permanent"
                          v-model="drawer.open"
                          app
                        >
                    <v-list-item>
                      <v-list-item-content>
                        <v-list-item-title class="title">
                          Application
                        </v-list-item-title>
                        <v-list-item-subtitle>
                          subtext
                        </v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
              
                    <v-divider></v-divider>
              
                    <v-list
                      dense
                      nav
                    >
                      <v-list-item
                        v-for="item in items"
                        :key="item.title"
                        link
                      >
                        <v-list-item-icon>
                          <v-icon>{{ item.icon }}</v-icon>
                        </v-list-item-icon>
              
                        <v-list-item-content>
                          <v-list-item-title>{{ item.title }}</v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                    </v-list>
                  </v-navigation-drawer-->
                <!--v-navigation-drawer
                app
                clipped
                floating
                >
              <v-list
              dense
              nav
            >
              <v-list-item
                v-for="item in items"
                :key="item.title"
                link
              >
                <v-list-item-icon>
                  <v-icon>{{ item.icon }}</v-icon>
                </v-list-item-icon>
      
                <v-list-item-content>
                  <v-list-item-title>{{ item.title }}</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list>
              </v-navigation-drawer-->
<v-container fluid center>
    <v-layout center>
        <div style="margin-top: 2rem;display: flex;flex-direction: row;justify-content:center;width: 100%;">
              <!--v-flex md2 >
                    <v-container style="max-width:256px" -->
                    <div class="d-none d-md-block">
                       <div style="position: sticky;top: 3rem; padding-top: 2rem; 
                              align-self: stretch;overflow: auto;">
                              <left-nav/>
                      </div>
                    </div>
    <!--/v-container>
</v-flex-->
    <!--v-flex>
            <v-container style="max-width:1024px;">
                    <v-content-->
                    <div id="article" style="flex-grow:1;padding: 2rem;min-width: 500px;max-width:1024px;top: 3rem;">
                      <article>
                        <!--v-content-->
[[ .Content ]]
</article>
<!--/v-content-->
<!--/v-container>
</v-flex-->
</div>
  <div class="d-none d-lg-block">
      <div style="position: sticky;top: 3rem; padding-top: 2rem;align-self: stretch;overflow: auto;">
            <right-nav/>
    </div>
  </div>
</div>
</v-layout>
</v-container>              
<!--v-navigation-drawer
right
id = "drawerright"
app
clipped
>
<v-list
dense
nav
>
<v-list-item
v-for="item in items"
:key="item.title"
link
>
<v-list-item-icon>
  <v-icon>{{ item.icon }}</v-icon>
</v-list-item-icon>

<v-list-item-content>
  <v-list-item-title>{{ item.title }}</v-list-item-title>
</v-list-item-content>
</v-list-item>
</v-list>
</v-navigation-drawer-->
[[template "footer.html" .]]
